@{
    ViewBag.Title = "Acerca de";
}

<div>
    <h2>@ViewBag.Title ¿Cómo surge el ASIS ARMAR-7?</h2>
    <h3>@ViewBag.Message</h3>
    <p align="justify">
        Ante la necesidad de unificar y actualizar el abordaje al ASIS en las Américas la Unidad Técnica de Información y Análisis de Salud (CHA/HA) de la OPS/OMS llevó a cabo dos reuniones de expertos en la enseñanza y práctica del ASIS entre noviembre del 2011 y septiembre del 2013. Las reuniones tuvieron el propósito de revisar experiencias y recopilar desarrollos conceptuales, metodológicos y prácticos sobre el ASIS, que fueron insumos fundamentales para la renovación del ASIS.
        En dichas reuniones se realizó un análisis sistemático y crítico del análisis de situación de salud como función esencial de la salud pública y como una práctica institucionalizada en los servicios de salud en la Región para la identificación de brechas y áreas de oportunidad para mejorar el ASIS.
        El consenso de expertos y la revisión documental de diversas guías, programas y propuestas del ASIS en las Américas descubrió una gran heterogeneidad de abordajes conceptuales y metodológicos del ASIS ya que varios países utilizan términos diferentes para el ASIS, tales como Diagnóstico de Salud y Análisis de Impacto en Salud, entre otros . Este proceso evidenció la presencia de rezagos conceptuales y metodológicos en la elaboración e implementación del ASIS, así como en sus aplicaciones y utilidad a nivel nacional y local, dado que en ocasiones el ASIS se convierte en un mero requisito burocrático y termina siendo un reporte descriptivo, acrítico, tardío y de utilidad limitada o nula, relegado al olvido.
        Es así como el Grupo de Trabajo, recopila, unifica, actualiza y sistematiza las experiencias, proponiendo el desarrollo de la Visión Renovada del ASIS llamado ASIS ARMAR-7. Este además de incluir las experiencias de los países también incluye el pilotaje con dos fases: documental y de campo, en diversos países de la región llevados a cabo en 2014 y 2015.
    </p>
    <p><a href="http://www.paho.org/hq/index.php?option=com_content&view=article&id=3564&Itemid=3644&lang=es" class="btn btn-primary btn-lg">Más información &raquo;</a></p>

</div>
