@{
    ViewBag.Title = "Tablas";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag de reporte Demográfico Durango</title>
</head>
<body>
    <div>
        <iframe width="933"
                height="700"
                src="https://app.powerbi.com/view?r=eyJrIjoiOWJhYWJhMjEtMDk3Zi00ODk1LTk5NGMtMTQ4ZTMxYjE4YjAwIiwidCI6IjQzMGU0MjIyLWMyYzItNGJmYy04ZGZmLWE4YTE5NjA0YWQ5MiIsImMiOjR9"
                frameborder="0"
                allowFullScreen="true"></iframe>
    </div>
</body>
</html>
