@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    525 23st NW<br />
    Washington DC<br />
    <abbr title="Phone"></abbr>
    111.222.333
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:oscar.a.mtz@outlook.com">Oscar A. Mtz.</a><br />
    <strong>Supervisión:</strong>   <a href="mailto:healthanalysis@paho.org">Supervisión</a><br />
</address>