@{
    ViewBag.Title = "Página principal";
}

<div class="jumbotron">

    <div class="row">
        <div class="col-md-6">
            <h2>¿Qué es el ASIS ARMAR-7?</h2>
            <p align="justify">El ASIS un proceso analítico-sintético que permite “caracterizar, medir y explicar el perfil de salud-enfermedad de una población incluyendo los daños y problemas de salud, así como sus determinantes, sean estos competencia del sector salud o de otros sectores...</p>
            <p>
                <a href="~/Home/About" class="btn btn-primary" role="button">Más información...</a>
            </p>
        </div>
        <div class="col-md-6">
            <h2>Información y análisis en salud</h2>
            <p align="justify">Desde la producción de datos primarios hasta la elaboración de análisis completos de la situación sanitaria, la generación de información estratégica de salud es un principio fundamental de la salud pública, en el cual se basa la identificación de las necesidades, desigualdades y prioridades en salud y la formulación y el monitoreo de acciones y políticas para remediarlas.</p>
            <p><a href="http://new.paho.org/hq/index.php?option=com_content&view=article&id=3564&Itemid=3644" class="btn btn-primary" role="button">Más información...</a></p>
        </div>
    </div>
</div>
     <div class="row">
        <div class="col-md-4">
            <h2>Demográfico</h2>
            <p align="justify">Reporte BI</p>
            <p><a href="~/Home/BI"><class ="btn btn-primary" role="button">Más información...</a></p>
        </div>
        <div class="col-md-4">
            <h2>Servicios a mujeres en edad fértil</h2>
            <p align="justify">Reporte tablas</p>
            <p><a href="~/Home/tableau"><class="btn btn-primary" role="button">Más información...</a></p>
        </div>
        <div class="col-md-4">
            <h2>Reporte situacional en las américas</h2>
            <p align="justify">Reporte Dashboard</p>
            <p><a href="~/Home/tableauDBoard"><class ="btn btn-primary" role="button">Más información...</a></p>
        </div>
    </div>


