<!DOCTYPE html lang="eng">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->

    <link href="~/Content/bootstrap-cerulean.css" rel="stylesheet" />

    <!-- Custom styles for this template -->

    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Simple Sidebar</h1>
                <p>Esta plantilla tiene un sistema de conmutación de menú sensible. El menú aparecerá contraído en pantallas más pequeñas y aparecerá sin colapsar en pantallas más grandes. Cuando se cambia usando el botón de abajo, el menú aparecerá / desaparecerá. En las pantallas pequeñas, el contenido de la página se eliminará del lienzo.</p>
                <p>Asegúrate que la página tenga el<code>#page-content-wrapper</code>.</p>
                <button class="btn btn-info dropdown-toggle" type="button" ><a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Sidebar</a></button>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>